<h1 class="gamehead">Users</h1>

<% @users.each do |user| %>
	<ul class="list-inline usersfloat">
		<div class="logousers"><%= link_to(image_tag("#{user.topgame.downcase.delete(":/\\- ")}.png", :alt => "logo", :title => "Home", :class => "logoimguser"), "/games/#{$GAME_DROPDOWN.flatten.index(user.topgame)}") %></div>
		<a class="linksidename" href="/users/<%= user.id %>"><h4 class="userpro2"><%= user.name %></h4></a>
	<li><img class="userpagepro" src="<%= user.avatar.url.to_s %>"></li>
	</ul>
	<% end %>