/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.signup {
	margin-left: 15px;
}

.login {
	margin-left: 15px;
}

.profile {
	float: right;
	margin-right: 35px;
	margin-top: -35px;
}

.twitchplayer {
	background-color: white;
	padding: 10px;
	border-radius: 5%;
	border: 2px solid #368256;
}

.logo {
	margin-top: -29px;
	margin-left: 150px;
}

.top-row {
	background-color: #368256;
}

.links  {
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: -5px;
}

 .fa {
 	font-size: 30px;
 }

 .fa-gamepad {
 	color: red;
 	margin-left: 6px;
 }

 .fa-home {
	color: #292E31;
	margin-left: 3px;
 }

.fa-user {
	color: #292E31;
 	margin-left: 12px;	
}

li {
	margin: 4px;
}

.form-control {
	width: 250px;
	margin-top: 20px;
}

.btn {
	margin-left: 252px;
	margin-top: -56px;
}

body {
	background-color: #292E31;
}

.views {
	float: right;
}

.profilepic {
	width: 120px;
	height: 120px;
	border-radius: 5%;
	border: 1.5px solid black;
}

.userpro {
	color: #368256;
}

.field  {
	margin-left: 45px;
}

.edit_head {
	margin-left: 45px;
	color:white;
}

.labels {
	color: white;
}

.unhappy {
	color: white;
	margin-left: 105px;
}

.delete_button {
	margin-left: 75px;
}

.update {
	margin-left: 90px;
	margin-top: 5px;
}

.account_del {
	margin-left: 40px;
	color: white;
}

.uone {
	color: green;
	margin-right: 5px;
	font-size: 12px;
}

div.scroll {
    background-color: white;
    border: 10px solid #368256;
    width: 300px;
    height: 100vh;
    margin-top: -16%;
    margin-left: -4%;
    overflow: scroll;
	
}

::-webkit-scrollbar {
    height: 12px;
    width: 16px;
    background: #368256;
}

::-webkit-scrollbar-thumb {
    background: lightgreen;
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #368256;
}

.sidebox {
	margin: 2px;
}

.sideimg {
	width: 70px;
	height: 70px;
	margin-left: 35%;
	margin-top: 2%;
	border-radius: 50%;
	border: 1px solid black;
}

.skills {
	color: red;
	border: 1px dashed black;
	border-radius: 50%;
	width:40px;
	height: 40px;
	margin-left: 5px;
	font-size: 28px;
	text-align: center;
	margin-left: 7%;
}

.sidename {
	text-align: center;
	margin-top: 12%;
}

.level {
	margin-top: -30%;
	margin-left: 6%;
}

.logoimg {
	width: 40px;
	height: 40px;
	border-radius: 30%;
	float: right;
	margin-top: -19%;
	margin-right: 7%;
}

.topgamelist {
	float: right;
	margin-top: -30%;
}

.signout a {
	color: #292E31;
}

.fa-sign-out {
	margin-left: 20%;
	color: #292E31;
}

.usersettings a {
	color: #292E31;
}

.fa-pencil-square-o {
	margin-left: 20%;
	color: red;
}

.settings {
	text-align: center;
}

.settings a {
	color:#368256;
}

.flash {
	color: white;
}

.remember {
	color:white;
	opacity: .7;
}

.logoimg2 {
	width: 50px;
	height: 50px;
	border-radius: 30%;
	margin-top: 3%; 
}

.gamesheader {
	color: white;
	margin-left: 10%;
}